.sidebar {
  flex: 0.1;
}

.sidebar > h1 {
  justify-content: center;
  text-align: center;
  color: white;
  letter-spacing: 5px;
}
.sidebar_menu {
  display: flex;
  flex-direction: column;
}
.sidebar_menu > div {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);

  padding: 16px;
  margin-top: 25px;
  border-radius: 30px;
  text-align: center;
  transition: transform 200ms ease-in;
}
.sidebar_menu > div:hover {
  transform: scale(1.1);
}

.sidebar_menu > div > h2 {
  margin-left: 0.5rem;
  font-weight: 300;
}
